<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_post.css') }}">
</head>

<body>
    <main class="app">
        <header class="header">
            <h1 class="page-title">Create a Post</h1>
        </header>

        <form class="form" method="POST" action="{{ url_for('create_post') }}">
            <input class="input input-big" type="text" name="location" id="location" placeholder="Name of Place" required>

            <input class="input input-big" type="text" name="googlemaps" id="googlemaps" placeholder="Link to google maps" required>

            <div class="choice-row">
                <input class="choice" type="radio" name="seating" id="seat_silent" value="Silent Study" required>
                <label class="choice-box" for="seat_silent">Silent<br>Study</label>

                <input class="choice" type="radio" name="seating" id="seat_quiet" value="Quiet Pair" required>
                <label class="choice-box" for="seat_quiet">Quiet<br>Pair</label>

                <input class="choice" type="radio" name="seating" id="seat_group" value="Fit for Group" required>
                <label class="choice-box" for="seat_group">Fit for<br>Group</label>
            </div>

            <!-- Yes/No rows-->
             <div class="yn-grid">
                <div class="yn-label">Wifi-</div>
                <input class="choice" type="radio" name="wifi" id="wifi_yes" value="Yes" required>
                <label class="choice-box" for="wifi_yes">Yes</label>
                <input class="choice" type="radio" name="wifi" id="wifi_no" value="No">
                <label class="choice-box" for="wifi_no">No</label>

                <div class="yn-label">Outlets-</div>
                <input class="choice" type="radio" name="outlets" id="outlets_yes" value="Yes" required>
                <label class="choice-box" for="outlets_yes">Yes</label>
                <input class="choice" type="radio" name="outlets" id="outlets_no" value="No">
                <label class="choice-box" for="outlets_no">No</label>

                <div class="yn-label">Reservable-</div>
                <input class="choice" type="radio" name="reservable" id="reservable_yes" value="Yes" required>
                <label class="choice-box" for="reservable_yes">Yes</label>
                <input class="choice" type="radio" name="reservable" id="reservable_no" value="No">
                <label class="choice-box" for="reservable_no">No</label>
            </div>

            <!-- Climate row -->
            <div class="hours-grid">
                <div class="hours-label">Hours</div>

                <input class="input hours-input" type="text" name="hours" placeholder="Open from-Open to" required>
            </div>

            <!-- Hours row -->
            <div class="climate-grid">
                <div class="climate-label">Climate</div>

                <input class="input climate-input" type="text" name="climates" placeholder="Sunny/Windy" required>
            </div>

            <button class="finish" type="submit">Create Post</button>

        </form>
    </main>
</body>
</html>